PORT = 3000
MONGO_URI = "mongodb+srv://bhavya0360:ku2vycg2Ruz6k4mo@cluster0.ywvevuv.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"
JWT_SECRET = secured
FRONTEND_URI = http://localhost:5173
DB_NAME = "test"
Node_ENV = Development